USE [master]
GO
/****** Object:  Database [Ninja]    Script Date: 11/29/2017 4:20:33 PM ******/
CREATE DATABASE [Ninja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ninja', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ninja.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ninja_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ninja_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ninja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ninja]
GO
/****** Object:  Table [dbo].[AsbController]    Script Date: 11/29/2017 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsbController](
	[Controller] [nvarchar](250) NOT NULL,
	[Action] [nvarchar](150) NOT NULL,
	[Area] [nvarchar](150) NULL,
	[Description] [nvarchar](350) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_AsbController] PRIMARY KEY CLUSTERED 
(
	[Action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AsbNetRoles]    Script Date: 11/29/2017 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsbNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_AsbNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AsbNetUser]    Script Date: 11/29/2017 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsbNetUser](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](350) NULL,
	[EmailConfirmed] [nvarchar](350) NULL,
	[PasswordHash] [nvarchar](350) NULL,
	[SecurityStamp] [nvarchar](150) NULL,
	[Phone] [nchar](13) NULL,
	[PhoneNumberConfirmed] [nchar](13) NULL,
	[TowFactorEnabled] [nvarchar](150) NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [datetime] NULL,
	[AcessFalsedCount] [int] NULL,
	[UserName] [nvarchar](250) NULL,
 CONSTRAINT [PK_AsbNetUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AsbRoleController]    Script Date: 11/29/2017 4:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsbRoleController](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Controller] [nvarchar](250) NOT NULL,
	[Action] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](350) NULL,
 CONSTRAINT [PK_AsbRoleController] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[Controller] ASC,
	[Action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
