@model LinJas.Areas.AdminLinja.Models.AuthModel.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminLinja/Views/Shared/_Layouts.cshtml";
}

<div class="container-fluid">
    @Html.ActionLink("Danh sản phẩm", "Index")
</div>




