<!DOCTYPE html>
<html>
<head>    
    @RenderSection("head", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Areas/AdminLinja/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/Site.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/pastaxi-style.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/kendo/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Content/kendo/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Areas/AdminLinja/Scripts/Toastr/toastr.css" rel="stylesheet" />

    <script src="~/Areas/AdminLinja/Scripts/jquery-1.10.2.js"></script> 
    <script src="~/Areas/AdminLinja/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    
    <script src="~/Areas/AdminLinja/Scripts/jquery.validate.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Areas/AdminLinja/Scripts/howler.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/bootstrap.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/respond.js"></script>

    <script src="~/Areas/AdminLinja/Scripts/Toastr/toastr.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/pastaxi-funcs.js"></script>
</head>
<body class="content">
    <!--Menu-->
    @Html.Partial("_Menu")
    <div>
        @RenderBody()
    </div>
</body>
</html>
