

<div class="container-fluid a-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Techsoftplus</h3>
                <p>
                    TechSofPlus là một công ty thiết kế và phát triển website, một cơ quan tiếp thị kĩ thuật số chuyên nghiệp. Hỗ trợ phát triển và mở rộng hoạt động kinh doanh của bạn với chi phí thấp nhất, hiệu quả cao nhất.
                </p>
            </div>
            <div class="col-md-3">
                <h3>Dịch vụ</h3>
                <ul>
                    <li><a href="#">Thiết kế website</a></li>
                    <li><a href="#">Thiết kế đồ họa quảng cáo</a> </li>
                    <li><a href="#">Quản trị website. SEO</a></li>
                    <li><a href="#">Đăng ký hosting, domain</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Công nghệ mới</h3>
                <ul>
                    <li><a href="#">Thiết kế website</a></li>
                    <li><a href="#">Thiết kế đồ họa quảng cáo</a> </li>
                    <li><a href="#">Quản trị website. SEO</a></li>
                    <li><a href="#">Đăng ký hosting, domain</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Kết nối facebook</h3>
                <div class="fb-page" data-href="https://www.facebook.com/thietkewebchuanseotop/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/thietkewebchuanseotop/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thietkewebchuanseotop/" rel="nofollow">Thiết  Kế Web chuẩn SEO</a></blockquote></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid a-footer-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        Bản quyền thuộc về TechSoftPlus.com
                    </li>
                    @*<li> Trụ sở chính: Hà Nội, Việt Nam Tel: (04) 3234.1234</li>
                    <li> Chi nhánh Miền Trung: Tp. Huế, Việt Nam Tel: (xxx) 1234.123</li>
                    <li> Chi nhánh Hồ Chí Minh: TP. Hồ Chí Minh, Việt Nam Tel: (08) 6xxx-1234</li>*@
                    <li>Trụ sở chính: Hà Nội, Việt Nam Tel:: +84-1258-961-889</li>
                    <li>Email: seotop10developer@gmail.com / Website: www.techsoftplus.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid a-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="~/Asset/images/logo/Phone_contact_256.png" class="img-circle img-responsive" alt="phone" />
                <div class="hotline">Hotline: 01258.961.889 (CSKH)</div>
            </div>
            <div class="col-md-7"></div>
        </div>
    </div>
</div>
