<!--footer-->
<footer class="footer1">
    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->
                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->
                        <h3 class="title-widget">Mẫu cửa sổ</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa sổ mở hất</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa sổ mở quay</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa sổ mở trượt</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa đi mở quay</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa đi mở trượt</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa đi mở xếp gấp</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Cửa nhôm zhongkai</a></li>                            
                        </ul>
                    </li>
                </ul>
            </div><!-- widgets column left end -->
            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->
                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->
                        <h3 class="title-widget">Hệ nhôm xingfa</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Nhôm xingfa tem đỏ</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Nhôm xingfa vân gỗ</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Nhôm cầu cách nhiệt</a></li>
                            @*<li><a href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Satellite Education</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Study Centres</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  State P.G. Mocks</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Results</a></li>*@
                        </ul>
                    </li>
                </ul>
            </div><!-- widgets column left end -->
            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->
                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->
                        <h3 class="title-widget">Về xingfa quảng đông</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Giới thiệu</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Liên hệ</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Chính sách bảo hành</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Chính sách đặt hàng</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Chỉnh sách vận chuyển và thi công</a></li>
                            <li><a href="#"><i class="rm-icondesktop-logobct"></i></a></li>
                            @*<li><a href="#"><i class="fa fa-angle-double-right"></i>  Admission Form</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Computer Live Test</a></li>*@
                        </ul>
                    </li>
                </ul>
            </div><!-- widgets column left end -->
            <div class="col-lg-3 col-md-3">
                <!-- widgets column center -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->
                    <li class="widget-container widget_recent_news">
                        <!-- widgets list -->
                        <h3 class="title-widget">Thông tin liên hệ </h3>
                        <div class="footerp">

                            <h2 class="title-median">Công ty CPXD HOÀNG ANH</h2>
                            <p><b>Email id:</b> <a href="mailto:info@xingfanhapkhau.vn">info@xingfanhapkhau.vn</a></p>
                            <p>
                                <b>Hotline: </b>
                                <b style="color:#ffc106;">(8AM to 10PM):</b>  +91-8130890090, +91-8130190010
                            </p>

                            <p><b>VP / DC</b></p>
                            <p><b>Số điện thoại : </b>7042827160, </p>
                            <p> 011-27568832, 9868387223</p>
                        </div>

                        <div class="social-icons">
                            <div class="nomargin">
                                <a href="#"><i class="rm-icondesktop-face"></i></a>
                                <a href="#"><i class="rm-icondesktop-zalo"></i></a>
                                <a href="#"><i class="rm-icondesktop-gplus"></i></a>
                                <a href="#"><i class="rm-icondesktop-youtube"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--header-->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2015, xingfanhapkhau.vn, All rights reserved
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="#">Việt Nam </a> |  <a target="_blank" href="#">Web Design & Development by anhtc</a>
                </div>
            </div>
        </div>
    </div>
</div>