<!-- header -->
<header id="header" data-spy="affix" data-offset-top="260" class="affix-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo dropdown">
                <div class="rm-main-menu">
                    <a href="#">
                        <i class="rm-icondesktop-logo"></i>
                    </a>
                </div>
                <div class="rm-main-menu">
                    <div class="rm-category-menu" data-toggle="dropdown">
                        <span>
                            <i class="rm-icondesktop-menu"></i>
                        </span>
                        <h3>Tất cả danh mục</h3>
                    </div>
                    <div class="dropdown-menu rm-menu-top" role="menu" aria-labelledby="dLabel">
                        <div class="rm-menu-left">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">Cửa sổ mở hất</a>                                    
                                </li>
                                <li>
                                    <a href="#">Cửa sổ mở hất</a>                                    
                                </li>
                                <li>
                                    <a href="#">Cửa sổ mở trượt</a>
                                </li>
                                <li>
                                    <a href="#">Cửa đi mở quay</a>
                                    <div class="rm-menu-right">
                                        <a href="#">Tất cả</a>
                                        <a href="#">Cửa đi mở quay 1 cánh</a>
                                        <a href="#">Cửa đi mở quay 2 cánh</a>
                                        <a href="#">Cửa đi mở quay 3 cánh</a>
                                        <a href="#">Cửa đi mở quay 4 cánh</a>                                        
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Cửa đi mở trượt</a>
                                    <div class="rm-menu-right">
                                        <a href="#">Tất cả</a>
                                        <a href="#">Cửa đi mở trượt 1 cánh</a>
                                        <a href="#">Cửa đi mở trượt 2 cánh</a>
                                        <a href="#">Cửa đi mở trượt 3 cánh</a>
                                        <a href="#">Cửa đi mở trượt 4 cánh</a>                                        
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Cửa đi mở xếp gấp</a>
                                    <div class="rm-menu-right">
                                        <a href="#">Tất cả</a>
                                        <a href="#">Cửa đi mở xếp gấp 4 cánh</a>
                                        <a href="#">Cửa đi mở xếp gấp 6 cánh</a>
                                        <a href="#">Cửa đi mở xếp gấp 8 cánh</a>                                        
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Cửa nhôm zhongkai</a>
                                </li>
                                <li>
                                    <a href="#">Nhôm xingfa tem đỏ</a>
                                </li>
                                <li>
                                    <a href="#">Nhôm xingfa vân gỗ</a>
                                </li>
                                <li>
                                    <a href="#">Nhôm cầu cách nhiệt</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>
                            <div class="rm-login">
                                <div><a href="#" data-toggle="modal" data-target="#rmmodallogin">Đăng ký</a></div>
                                <div><a href="#">Đăng nhập</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm Xingfa Quảng đông, Cửa đi mở trượt, Cửa sổ mở hất...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="rm-icondesktop-search"></span> Tìm kiếm</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 fone-cart">
                <ul>
                    @*<li>
                        <a href="#" data-toggle="modal" data-target="#rmmodalcart">
                            <aside>5</aside>
                            <span>
                                <i class="rm-icondesktop-cart"></i>
                            </span>
                        </a>
                    </li>*@
                    <li>
                        <a href="+84981353535">
                            <span>
                                <i class="rm-icondesktop-phone"></i>
                            </span>
                            <b>0981353535</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- menu -->
<nav class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navigation">
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-fashion"></i>
                        </div>
                        <h3>Cửa sổ mở hất</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-technologytoys"></i>
                        </div>
                        <h3>Cửa sổ mở quay</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-showroom"></i>
                        </div>
                        <h3>Cửa sổ mở trượt </h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-fashion"></i>
                        </div>
                        <h3>Cửa đi mở trượt</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-technologytoys"></i>
                        </div>
                        <h3>Cửa đi mở quay</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-showroom"></i>
                        </div>
                        <h3>Vách mặt dựng</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-cornerremax"></i>
                        </div>
                        <h3>Góc Xingfa</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-quetion"></i>
                        </div>
                        <h3>Hỏi đáp</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-remaxtv"></i>
                        </div>
                        <h3>Xingfa TV</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-sale"></i>
                        </div>
                        <h3>Báo giá</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
