<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/logo/logo-ninja-v1.png" class="img-responsive" alt="logo" />
            </a>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-pills navbar-right">
                <li>
                    <a href="#">Giới thiệu</a>
                </li>
                <li>
                    <a href="#">Tin tức</a>
                </li>
                <li>
                    <a href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
