<!-- header -->
<header id="header" data-spy="affix" data-offset-top="260" class="affix-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo dropdown">
                <div class="rm-main-menu">
                    <a href="#">
                        <i class="rm-icondesktop-logo"></i>
                    </a>
                </div>
                <div class="rm-main-menu">
                    <div class="rm-category-menu" data-toggle="dropdown">
                        <span>
                            <i class="rm-icondesktop-menu"></i>
                        </span>
                        <h3>Tất cả phụ kiện</h3>
                    </div>
                    <div class="dropdown-menu rm-menu-top" role="menu" aria-labelledby="dLabel">
                        <div class="rm-menu-left">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">Phụ kiện điện thoại</a>
                                    <div class="rm-menu-right">
                                        <a href="#">Tất cả</a>
                                        <a href="#">Tai nghe</a>
                                        <a href="#">Tai nghe Bluetooth</a>
                                        <a href="#">Kính cường lực Ipad</a>
                                        <a href="#">Cáp sạc</a>
                                        <a href="#">Củ sạc</a>
                                        <a href="#">Pin sạc dự phòng</a>
                                        <a href="#">Loa Bluetooth</a>
                                        <a href="#">USB, Thẻ nhớ, OTG</a>
                                        <a href="#">Kính cường lực</a>
                                        <a href="#">Giá đỡ điện thoại</a>
                                        <a href="#">Phụ kiện khác</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Phụ kiện ô tô</a>
                                    <div class="rm-menu-right">
                                        <a href="#">Tất cả</a>
                                        <a href="#">Tai nghe</a>
                                        <a href="#">Tai nghe Bluetooth</a>
                                        <a href="#">Kính cường lực Ipad</a>
                                        <a href="#">Cáp sạc</a>
                                        <a href="#">Củ sạc</a>
                                        <a href="#">Pin sạc dự phòng</a>
                                        <a href="#">Loa Bluetooth</a>
                                        <a href="#">USB, Thẻ nhớ, OTG</a>
                                        <a href="#">Kính cường lực</a>
                                        <a href="#">Giá đỡ điện thoại</a>
                                        <a href="#">Phụ kiện khác</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Đồ chơi công nghệ</a>
                                </li>
                                <li>
                                    <a href="#">Đồ gia dụng số</a>
                                </li>
                                <li>
                                    <a href="#">Phụ kiện thời trang</a>
                                </li>
                                <li>
                                    <a href="#">Showroom</a>
                                </li>
                                <li>
                                    <a href="#">Góc Remax</a>
                                </li>
                                <li>
                                    <a href="#">Hỏi đáp</a>
                                </li>
                                <li>
                                    <a href="#">Remax TV</a>
                                </li>
                                <li>
                                    <a href="#"> Khuyến mãi</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>
                            <div class="rm-login">
                                <div><a href="#" data-toggle="modal" data-target="#rmmodallogin">Đăng ký</a></div>
                                <div><a href="#">Đăng nhập</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm thiết bị, củ sặc, tai nghe, pin dự phòng...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="rm-icondesktopfull-search"></span> Tìm kiếm</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 fone-cart">
                <ul>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#rmmodalcart">
                            <aside>5</aside>
                            <span>
                                <i class="rm-icondesktop-cart"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="+84981353535">
                            <span>
                                <i class="rm-icondesktop-phone"></i>
                            </span>
                            <b>0981353535</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- menu -->
<nav class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navigation">
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-telephone"></i>
                        </div>
                        <h3>Phụ kiện</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-car"></i>
                        </div>
                        <h3>Phụ kiện ô tô</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-mapping"></i>
                        </div>
                        <h3>Đồ gia dụng</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-fashion"></i>
                        </div>
                        <h3>Thời trang</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-technologytoys"></i>
                        </div>
                        <h3>Đồ chơi công nghệ</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-showroom"></i>
                        </div>
                        <h3>Showroom</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-cornerremax"></i>
                        </div>
                        <h3>Góc Remax</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-quetion"></i>
                        </div>
                        <h3>Hỏi đáp</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-remaxtv"></i>
                        </div>
                        <h3>Remax TV</h3>
                    </a>
                    <a href="#">
                        <div>
                            <i class="rm-icondesktop-sale"></i>
                        </div>
                        <h3>khuyến mại</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
