<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse">
                <div class="col-md-12">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">TRANG CHỦ</a>
                        </li>                        
                        <li><a href="#">GIỚI THIỆU</a></li>
                        <li>
                            <a href="#">SẢN PHẨM</a>
                        </li>
                        <li>
                            <a href="#">BLOG</a>
                        </li>
                        <li><a href="#">LIÊN HỆ</a></li>                        
                    </ul>
                </div>          
            </div>
        </div>        
    </div>
</nav>
