body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #efefef;
}
header{
    margin-bottom:10px;
    background:#efefef;
}
/*menu*/
.navbar-default {
    background-color: #de0202;
    border-color: #de0202;
    border-radius: 0px;
}
.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid #ca7167;
    color: #4c1f1e;
    font-family: RadikalW01_Black_bold;
    text-transform: uppercase;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}
.jain_container .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #de0202;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
#carousel-ninja .carousel-control {
    height: 50px;
    width: 40px;
    top:34%;
}
#carousel-ninja .glyphicon {
    font-size:20px!important;
}
#carousel-ninja .carousel-control.left,#carousel-ninja .carousel-control.right{
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: inherit;    
}

/*content*/
.wap {
    min-height: 200px;
    display: block;
    position: relative;
    background: #efefef;
}
.service .item{
    padding:10px;
    margin:10px 0px;
    border:1px solid#fce5e5;
    background:#FFF;
}
.service .item a{
    color:#000000;
    text-decoration:none;
}
.service .item a:hover {
    color: #d02028 !important;
}
.service .item a h3{
    font-size: 21px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 46px;
}
.description {
    font-size:14px;
    line-height:18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    word-spacing: -1px;
}
.time{
    font-size:13px;
    color:#8d8c8c;
    margin:6px 0px;
}
.chat-luongdv {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 6px 0;
    color: #00BCD4;
}
.chat-luongdv .glyphicon-star{
    color:#ebd100;
    fill:goldenrod;
}
.viewmore {
    text-align: right!important;
    margin:10px  0px;
}
.service .item .viewmore a {
    color: #047ade;
}
/*new*/
.new ul{
    padding:0px;
    margin:0px;
}
.new ul li{
    list-style:none;
    display:block;
    position:relative;
    width:100%;
}
.new ul li a img{
    float: left;
    max-width: 240px;
    margin-right: 10px;
}
.new a{
    color:#000;
    text-decoration:none;
}
.new a:hover{
    color:#d02028;
}
.new a h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin:5px 0px;
}
.new .item {
    background: #fff;
    padding: 10px 10px;
    float: left;
    clear: both;
    margin: 0px 0px 10px 0px;
}
/*.title {
    font-size: 20px;
    font-weight: bold;
    color: #8e8d8e;
    padding: 9px 10px;
    border-bottom: 2px solid #8d8c8c;
    height: 50px;
    margin-bottom: 10px;
    background: #fff;
}*/
/*help-block*/
.help-block {
    background: #ffbf01;
    padding: 10px;
    border: 1px solid#efefef;
    min-height: 300px;
    margin-top: 0px;
    border-bottom: 5px solid#d02028;
}
.help-block ul{
    padding:0px;
    margin:0px;
}
.help-block ul li{
    float:left;
    list-style:none;
    display:inline-block;
    color:#FFF;
    font-size:16px;
    width:100%;
    padding:5px 20px;
}
.help-block ul li a{
    text-decoration:none;
    color:#000;    
}
.title-help {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    padding: 10px 10px;
    border: 2px solid #FFF;
    height: 50px;
    margin-bottom: 10px;
    background: #d02028;
    text-align:center;
    text-transform:uppercase;
}
.help-video {
    background: #FFF;
    padding: 10px;
    border: 1px solid#efefef;
    min-height: 300px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 5px solid#d02028;
}
.help-facebook {
    background: #dedcdc;
    padding: 10px;
    border: 1px solid#efefef;
    min-height: 300px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 5px solid#d02028;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.help-facebook .fb-page {
    margin:0 auto;
    display:block;
    float:none;
    padding:5px 0px;
}
/*search-left*/
.search-left {
    padding-right: 0px;  
    min-height: 209px;
}
.search-left .form-group{
    background: #fff;
    min-height: 209px;
    margin: 0px;    
    padding:10px 20px;
}
.search-left .form-group .text-center{
    padding:15px;
}
.search-left .btn-default{
    background:#f3a504;
}
/*footer */
article {
}
.container-fluid{
    padding:0px;
    overflow:hidden;
}
#footer {
    background:#FFF;
    min-height:121px
}
.footer {
    background-image:url(/Images/background/bg_footer-ninja.png);
    background-repeat:no-repeat;
    background-position:center;
    background-clip:content-box;
    height:121px;
}
.footer-bottom {
    background: #795548;
    height: 30px;
    margin-top: 5px;
}
