.navigation a {
    float: left;
    width: 10%;
    margin: 0 0 1.9% 0;
    color: #000000;
    padding: 2px 0px 16px 0px;
    text-decoration: none;
    display: block;
}
.navigation div {
   display: block;
    width: 35px;
    height: 36px;
    margin: auto;
}

.slide-show .slide {
    min-height: 200px;
    margin-bottom:8px;
}

.slide {
    min-height: 200px;
    margin-bottom: 10px;
}

#carousel-rm {
    background: #fff;
}

/*Khuyến mại nhanh*/

.bg-promotion{
    background:#fdd100;
}
    .bg-promotion .text-label {
        margin: 0px;
        border: none;
        height: 64px;
        padding-top:26px;
    }
.bg-promotion .text-label a{
    float:right;
    text-decoration:none;
    color:#4c4c4c;
    font-size:14px;
    font-family:roboto-regular;
}
    .bg-promotion .text-label a span {
        font-size: 18px;
        color: #4c4c4c;
    }
.bg-promotion .text-label span{
    font-family:Roboto-Bold;
    color:#ee1c25;
    font-size:18px;
}
.bg-brown{
    background:#3f3f3f;
    padding:10px 0px 0px 0px;
}
.bg-brown .team_columns_carousel_wrapper{
    background-color:transparent;
    padding-bottom:0px;
}
.bg-brown .rmitem-image{
     background-color:#FFF;
}
/*tabs*/
.tabs{
    background:#FFF;
    min-height:352px;
}
.tab-content .item{
    clear: both;
    margin: 12px 0px;
    height: 76px;
    position: relative;
    border-bottom: 1px solid#e0e0e0;
}
.tab-content .item:last-child{
    border-bottom:none;
}
.tab-content .item a{
    text-decoration:none;
    color:#313131;
    font-size:14px;
    font-family:roboto-regular;
    line-height:18px;
}
.tab-content .item .col-md-8 a{
    height: 37px;
    overflow: hidden;
    display: block;
}
.tab-content .item .col-md-8 > a:hover{
    color:#d30606;
}
.tab-content .item p a{
    color:#909090;
    font-size:13px;
}
.tabs .tab-content{
    max-height:306px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-right:-6px;
}
.tabs .nav-tabs > li > a{
    font-size:15px;
    font-family:Roboto-Medium;
    color:#1a1919;
}
/*sản  phẩm  bán  chạy*/
.tag-group{
    float:right;
}
.text-view-more{
    text-align:center;
    padding:10px 0px;
    margin:20px 0px 40px 0px;
    border: 1px solid#e5e5e5;
}
.text-view-more a{
    text-decoration:none;
    font-size:15px;
    font-family:Roboto-Medium;
    color:#101010;
    
}
    .text-view-more a:hover {        
        color: #d30606;
    }

.tag-group a {
    text-decoration: none;
    color: #4e4d4d;
    font-size: 14px;
    font-family: roboto-regular;
    padding: 0px 4px;
}
.wap-content {
    min-height: 200px;
    background: #FFF;
    box-shadow: 0 1px 6px #dcdcdc;
}

.text-label{
    border:1px solid#ededed;
    padding:16px 20px;
    font-size:18px; 
    font-family:Roboto-Medium;
    margin-top:20px;
}
.text-label span {
    font-size: 14px;
    font-family: roboto-regular;
    color: #4e4d4d;
    margin-top:3px;
}
.rm-left{
    padding-left:0px;
    padding-right:8px;
}

.rm-item{
    border:1px solid#ececec;
    border-radius:3px;
    position:relative;
}
.team_columns_carousel_wrapper {
    padding: 1px;
    overflow: hidden
}
/*.adv-left,
.adv-right {
    top: 40%;
    z-index: 2;
    opacity: 1;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
    text-shadow: none;
    text-align: center;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    font-size: 29px;
    background: #FFF;
    box-shadow: 0px 2px 2px #9a9a9a;
    color: #000; 
    display:block!important; 
}*/
.team_columns_carousel_control_icons {
    line-height: 35px;
    font-size: 20px!important;
    font-weight: normal!important;
    margin-top:8px;
}
.team_columns_carousel_control_left {
    left: 26px!important
}
/*.team_columns_carousel_control_right {
    left: 63px!important
}*/
.adv_left {
    left: 6px!important
}
.adv_right {
    right: 6px!important
}

.team_columns_item_social a,
.team_columns_item_social a:visited {
    width: 25px;
    float: left;
    height: 25px;
    display: block;
    line-height: 25px;
    margin-right: 2px;
    text-decoration: none;
    -webkit-transition: background ease-in-out .3s;
    transition: background ease-in-out .3s
}
.team_columns_carousel_wrapper {
    background: #fff;
    padding-bottom:52px;
    
}
.team_columns_carousel_control_left,
.team_columns_carousel_control_left:hover,
.team_columns_carousel_control_left:active,
.team_columns_carousel_control_left:focus,
.team_columns_carousel_control_right,
.team_columns_carousel_control_right:hover,
.team_columns_carousel_control_right:active,
.team_columns_carousel_control_right:focus {
    color: #fff;
    background: #feb600!important
}

.team_columns_item_social a,
.team_columns_item_social a:visited {
    color: #171717;
    background: #feb600
}
.team_columns_item_social a:hover,
.team_columns_item_social a:active {
    background: #cb9200
}
.four_shows_one_move .cloneditem-1,
.four_shows_one_move .cloneditem-2,
.four_shows_one_move .cloneditem-3 {
    display: none
}
@media all and (min-width: 768px) {
    .four_shows_one_move .carousel-inner>.active.left,
    .four_shows_one_move .carousel-inner>.prev {
        left: -50%
    }
    .four_shows_one_move .carousel-inner>.active.right,
    .four_shows_one_move .carousel-inner>.next {
        left: 50%
    }
    .four_shows_one_move .carousel-inner>.left,
    .four_shows_one_move .carousel-inner>.prev.right,
    .four_shows_one_move .carousel-inner>.active {
        left: 0
    }
    .four_shows_one_move .carousel-inner .cloneditem-1 {
        display: block
    }
}
@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
    .four_shows_one_move .carousel-inner>.item.active.right,
    .four_shows_one_move .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0
    }
    .four_shows_one_move .carousel-inner>.item.active.left,
    .four_shows_one_move .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0
    }
    .four_shows_one_move .carousel-inner>.item.left,
    .four_shows_one_move .carousel-inner>.item.prev.right,
    .four_shows_one_move .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}
@media all and (min-width: 992px) {
    .four_shows_one_move .carousel-inner>.active.left,
    .four_shows_one_move .carousel-inner>.prev {
        left: -25%
    }
    .four_shows_one_move .carousel-inner>.active.right,
    .four_shows_one_move .carousel-inner>.next {
        left: 25%
    }
    .four_shows_one_move .carousel-inner>.left,
    .four_shows_one_move .carousel-inner>.prev.right,
    .four_shows_one_move .carousel-inner>.active {
        left: 0
    }
    .four_shows_one_move .carousel-inner .cloneditem-2,
    .four_shows_one_move .carousel-inner .cloneditem-3 {
        display: block
    }
}
@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
    .four_shows_one_move .carousel-inner>.item.active.right,
    .four_shows_one_move .carousel-inner>.item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0
    }
    .four_shows_one_move .carousel-inner>.item.active.left,
    .four_shows_one_move .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0
    }
    .four_shows_one_move .carousel-inner>.item.left,
    .four_shows_one_move .carousel-inner>.item.prev.right,
    .four_shows_one_move .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}
/*blog*/
.rm-blog h2,.rmtv h2{
    margin-bottom:0px;
}
.rm-blog h2 a,.rmtv h2 a{
    font-size:16px;
    font-family:Roboto-Medium;
    line-height:20px;
    color:#151515;
    text-decoration:none;
}
.rm-blog h2 a:hover, .rmtv h2 a:hover {
    color: #d30606;
}
.rm-blog .rm-decription, .rmtv .rm-decription{
    text-align:justify;
    font-size:13.5px;
    font-family:roboto-regular;
    color:#6c6c6c;
    padding:10px 0px;
    line-height:18px;
    height:65px;
    overflow:hidden;
    margin-bottom:10px;
}
.blogtag ul,.blogsimilarposts ul{
    padding:0px;
    margin:0px;
    clear:both;
}
.blogtag li{
    list-style:none;
    float:left;
    width:50%;
    margin-bottom:26px;
    position:relative;
}
.blogtag li a{
    color:#6c6c6c;
    font-size:13px;
    text-decoration:none;
}
.blogsimilarposts ul li{
    list-style:none;    
    position:relative;
    border-top:1px solid#dedddd;
    border-bottom:1px solid#dedddd;
    padding:10px 0px;    
}
.blogsimilarposts ul li:first-child{
    border-bottom:none;
}
.blogsimilarposts ul li a{
    color:#343434;
    font-size:14px;
    text-decoration:none;
    line-height:22px;
    width:100%;
    display: block;
    font-family:roboto-regular;   
}
.blogsimilarposts{
    margin-bottom:62px;
}
.blog-comment{
    float: right;
    position: absolute;
    top: 46%;
    right: 0px;
}
.blog-single{
    padding:0px 12px;
    margin-bottom:25px;
}
.kh-bottom {
    margin-bottom:62px;
}

.blog-single h2 {
    line-height: 18px;
    height: 42px;
    overflow: hidden;
}
.rmtv .item{
    border: 1px solid#f3f2f2;
    margin-bottom:62px;
}
/*Hệ thống RM*/
.rmsystem{
    margin-bottom:22px;
}
.rmsystem .item{
    background:#fdd100;
    position:relative;
}
.rmsystem .item h2{
    padding: 16px 20px;
    margin-top: 0px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.67);
    margin: 0px;
    font-size: 15px;
    color: #FFF;
    width: 100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    display: block;
}
.rmsystem .col-md-4 .item h2{
    padding: 10px 10px;
}
.rmsystem .col-md-4 .item a img{
    min-height:209px;
}
.rmsystem .item a{
    display: block;
    text-decoration:none;
    color:#151515;
    font-size:15px;
    font-family:roboto-regular;
}
.rmsystem .item h2 span{
    font-family:Roboto-Medium;
}
.rm-aggregate{
    padding:0px;
    margin:10px 0px 0px 0px;
}
.rm-aggregate li{
    float:left;
    width:50%;
    position:relative;
    display:block;
}
.rm-aggregate li a{
    text-decoration:none;
    color:#FFF;
}

.cropimg {
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-color: #e8e8e8;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    clear: both;
    position: relative;
    overflow: hidden;
    height: 206px;
}
.rm-aggregate li a h2 {
    padding: 10px 10px;
    margin-top: 0px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.67);
    margin: 0px;
    font-size: 15px;
    color: #FFF;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rm-opacity{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(45,45,45,.8);
    text-align:center;
}
.rm-opacity span{
    color: #FFF;
    margin-top: 30%;
    display: inline-block;
    font-family:Roboto-Medium;
    font-size:15px;
    padding:0px 5px;
}
.rm-opacity p{
    font-family:roboto-regular;
    font-size:13px;
}
/*scroll*/
.tabs .tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f3f3f3;
}

.tabs .tab-content::-webkit-scrollbar {
    width: 6px;
    background-color: #7e7e7e;
}

.tabs .tab-content::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border: 2px solid #7e7e7e;
}
@media (min-width: 1280px) {

.tabs {
    min-height: 346px;
}

.tabs .tab-content {
    max-height: 302px;
}
}