@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.woff') format('woff');
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #4a4948;
    border-color: #4a4948;
    font-family:Roboto-Medium;    
}
section{
    margin-bottom:10px;
}
/*tabs*/
.tabs {
    background: #FFF;
    min-height: 321px;
}

.tab-content .item {
    clear: both;
    margin: 12px 0px;
    height: 76px;
    position: relative;
    border-bottom: 1px solid#e0e0e0;
}

.tab-content .item:last-child {
    border-bottom: none;
}

.tab-content .item a {
    text-decoration: none;
    color: #313131;
    font-size: 14px;
    font-family: roboto-regular;
    line-height: 18px;
}

.tab-content .item .col-md-8 a {
    height: 37px;
    overflow: hidden;
    display: block;
}

.tab-content .item .col-md-8 > a:hover {
    color: #d30606;
}

.tab-content .item p a {
    color: #909090;
    font-size: 13px;
}

.tabs .tab-content {
    max-height: 278px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -6px;
}

.tabs .nav-tabs > li > a {
    font-size: 15px;
    font-family: Roboto-Medium;
    color: #1a1919;
    border:none;
    border-bottom: 2px solid#df0025;
}
.tabs .nav-tabs{
    border-bottom:1px solid#c1c1c1;
}
/*rm hom*/