@font-face {
    font-family: 'Roboto-Bold';
    src: url('http://cdn.remaxvietnam.vn/fonts/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('http://cdn.remaxvietnam.vn/fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'roboto-regular';
    src: url('http://cdn.remaxvietnam.vn/fonts/roboto-regular.woff') format('woff');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('http://cdn.remaxvietnam.vn/fonts/FontAwesome.otf') format('opentype');
}
.menu {
    margin-bottom:0px;
}
.rm-advertise {
    height:300px;
    background:#3e3d3d;
}
.rm-md-9{
    padding-right:10px;
    padding-left:0px;
}
.bg-black{
    background-color:transparent;
}
.bg-gray{
    background:#fbfbfb;  
    margin-bottom: 10px;
    /*box-shadow: 0 1px 6px #dcdcdc;*/  
}
.rmcategory {
    clear: both;
}
.text-h1{
    font-size: 22px;
    font-family: Roboto-Medium;
    line-height: 22px;
    text-align: center;
    margin: 0px;
    color: #1a1a1a;
    padding:30px 0px 10px 0px;
}
.rm-decription {
    color: #414141;
    font-size: 14px;
    font-family: roboto-regular;
    line-height: 20px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*Góc resmax*/
.rmgoc-resmax{
    position:relative;
    top:-52px;
    z-index:2;
    margin-bottom:-52px;
}
.rmcontent-right ul li a img {
    max-width: 82px;
    float: left;
    margin-right: 6px;
    border: 1px solid#efefef;
    border-radius: 4px;
}
.fa-angle-up:before{content:"\f106"}
.fa-angle-down:before{content:"\f107"}
.fa-sort:before{content:"\f0dc"}
.fa-bell-o:before{content:"\f0a2"}
.fa-bell:before{content:"\f0f3"}
.fa-caret-right:before{content:"\f0da"}

.rm-advertise a img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:25px;
}
/*left*/
.rm-menusub{
    position:relative;
    height:40px;
}
.rm-menusub ul{
    padding:0px;
    margin:20px 4px;
}
.rm-menusub ul li{
    list-style:none;
    float:left;
    margin:0px 6px;
   
}
.rm-menusub ul li:last-child a{
    border-right:none;
}
.rm-menusub ul li a{
    text-decoration:none;  
    color:#414141;
    font-size:15px;
    line-height:18px;
    font-family:roboto-regular;
    padding:10px 20px 10px 10px;
}

.rm-menusub ul li a.active, .rm-menusub ul li a:hover{
    /*background:#fed700;*/   
    border-radius:4px;  
    color:#00a652;    
}
.rm-list-item {
    padding:0px;
    margin:0px;
}
.rm-list-item li{
    list-style:none;
    float:left;
    display:block;
    position:relative;
    width:100%;
    padding:20px 10px 10px 10px;   
}
    .rm-list-item li:last-child{
        border-bottom:none;
        margin-top:10px;
    }
    .rm-list-item li a {
        text-decoration: none;
        color: #312f2f;
        font-size: 18px;
        line-height: 18px;
        font-family: Roboto-Medium;
    }
    .rm-list-item li a:hover {
        color:#d30606;
    }
.rm-list-item li a img{
    float:left;
    margin-right:30px;
    max-width:250px;
}
.rm-list-item li div{     
    color:#9c9898;
    font-size:14px;
    line-height:18px;
    font-family:roboto-regular;
    padding-top:10px;
}
.rm-list-item li:last-child{
    text-align:center;
}
.rm-list-item li:last-child a{
    padding:10px 50px;
    color:#00a652;
    border:1px solid#e4e4e4;
    display:inline-block;
    width:100%;
    font-size:14px;
    font-family:roboto-regular;
}


/*right*/
.gocresmax-left {
    background: #eff7f5;
    border:1px solid#e4e4e4;
} 
.gocresmax-right {
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0px 1px 5px #dad7d7;
}
.rm-notify{
    height:52px;
    background:#00a652;
    color:#c2edd1;
}
.rm-notify a{
    font-size:14px;
    font-family:roboto-regular;
    color:#c2edd1;
    text-decoration:none;
    padding:20px 6px;
}
.rm-notify h3{
    margin:0px;
    padding:15px 16px;
}
.rm-notify .fa-angle-down{
float:right;
font-size:18px;
}
.rm-notify a b{
    color:#fed700;
    padding-left:6px;
}
.rmcontent-right{
    position:relative;
    padding-left:6px;
    padding-right:6px;
}
.rmcontent-right ul{
    padding:0px;
    margin:0px;
}
.rmcontent-right ul li:first-child{
     padding: 12px 0px;
}
.rmcontent-right ul li:last-child{
      padding: 0px 0px 30px 0px;
}
.rmcontent-right ul li{
    float:left;
    position:relative;
    width:100%;
    display:block;
    list-style:none;
    padding: 0px 0px 12px 0px;
}
.rmcontent-right ul li a{
    text-decoration:none;
    color:#414141;
    font-size:14px;
    font-family:roboto-regular;
    line-height:18px;
}
.rmcontent-right ul li a:hover {
    color:#d30606;
}
.rmcontent-right ul li a img{
    max-width:82px;
    float:left;
    margin-right:6px;
}
.rmcontent-right ul li a span{
    color:#fc000c;
}
.rm-promotion a img{
    margin:10px 0px 30px 0px;
}
.rmcategory ul li a{
    color:#414141;
    font-size:14px;
}
.rmcategory ul li a:hover{
    color:#00a652;
}
.rmcategory ul li{
    border-bottom:1px solid#777777;
    border-bottom: 1px solid#eaeaea;
    padding-top: 12px;
}
.rmcategory ul li:last-child{
    padding-top: 12px;
}

.gocresmax-right h2{
    margin-top:20px;
    border-bottom:1px solid#e4e4e4;
    padding-bottom:10px;
    font-family:Roboto-Medium;
    font-size:18px;
    margin-bottom:0px;
}
.gocresmax-right h2 span{
    border-bottom:3px solid#00a652;
    padding-bottom:6px;
}
.rm-list{
position: relative;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid#f3f3f3;
}
.item-left{
    width:65%;
    float:left;
     padding:0px 8px 28px 0px;
}
.item-left h3 {
    margin: 15px 7px 10px 7px;
    font-size: 22px;
    font-family: Roboto-Medium;
    line-height: 28px;
    font-weight: normal;
    color: #414141;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    overflow: hidden;
}
.item-left .rm-decription {
    margin-left:  7px;
}
.item-left a,.item-right ul li a h3{
    font-size:18px;
    font-family:Roboto-Medium;
    line-height:22px;
    color:#312f2f;
    text-decoration:none;
}
.item-right ul li a h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}
.item-right{
    width:35%;
    float:left;
   padding:0px 0px 0px 8px;
}
.item-right ul{
    padding:0px;
    margin:0px;
}
.item-right ul li:first-child{
    padding-top:0px;
}
.item-right ul li{
    float:left;
    position:relative;
    width:100%;
    display:block;
    list-style:none;
    padding: 12px 0px;
    border-bottom:1px solid#f5f5f5;
}
.item-right ul li:last-child{
    border-bottom:none;
}
.item-right ul li a{
text-decoration: none;
    color: #414141;
    font-family: roboto-regular;
    font-size: 14px;
    text-align: justify;
    line-height: 18px;
    word-spacing: -1px;
}

.item-right ul li a span{
    padding-right:10px;
}
/*tin tức resmax*/
.rm-wapnew{
    padding:0px 20px;
}
.rm-wapnew .item {
    margin-bottom: 26px;
}
.rm-list-item li a h3 {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    margin-top: 0px;
}
.rm-wapnew h2 span.text-left{
    border-bottom:3px solid#00a652;
    padding-bottom: 10px;
    font-size:18px;
    line-height:18px;
    font-family:Roboto-Medium;
}
.rm-wapnew h2 {
    border-bottom:1px solid#e4e4e4;
    padding-bottom: 12px;
    margin-top:30px;
}
.rm-wapnew h2 a{
    color:#00a652;
    font-size:14px;
    font-family:roboto-regular;
    float:right;
    text-decoration:none;
}
.rm-wapnew h2 a span{
    font-size: 22px;
    position: relative;
    top: 2px; 
}
.rm-wapnew .col-md-4{
    padding-bottom:15px;
}
.rm-wapnew .item a{
    text-decoration: none;
    color: #312f2f;
    font-size: 18px;
    line-height: 18px;
    font-family: Roboto-Medium;
}
.rm-wapnew .item a:hover p{
    color:#d30606;
}
.item-right ul li a:hover h3, .item-left a:hover h3, .item-right ul li a:hover {
    color: #d30606;
}
.rm-wapnew .item a p{
    margin:10px 0px;
    line-height:22px;
    font-size:17px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-spacing:-1px;
    font-family:Roboto-Medium;
    color:#414141;
}
/*Tin công nghệ*/
.rm-wapnew .item-left a img{
    float:left;
    margin-right:10px;
    max-width:311px;
}
.rm-wapnew .item-left .item{
    margin:0px 0px 10px 0px;
}
.rm-wapnew .item-left  hr {
    margin-top: 25px;
    margin-bottom: 0px;   
}
.rm-wapnew  .item-right li a img{
    float:left;
    position:relative;
    max-width: 100px;
    margin-right: 10px;
}
.rm-wapnew .item-right ul li:first-child{
    padding-top:10px;
}
.rm-wapnew .item-right ul li{
    padding:10px 0px;
}
.rm-line{
    clear:both;
    margin:30px 0px 0px 0px;
}
/*TV*/
.rmtv h2{
    margin-bottom:0px;
}
.rmtv h2 a{
    font-size:16px;
    font-family:Roboto-Medium;
    line-height:18px;
    color:#151515;
}
.rmtv .rm-decription{
    text-align:justify;
    font-size:13.5px;
    font-family:roboto-regular;
    color:#414141;
    padding:10px 0px;
    height:47px;
    overflow:hidden;
    margin-bottom:15px;
}

.rmtv .item{
    border: 1px solid#f3f2f2;
    margin-bottom:62px;
}
.text-label{
    border:1px solid#e5e5e5;
    padding:16px 10px;
    font-size:16px; 
    font-family:Roboto-Medium;
}
.text-label span{
    font-size:14px;
    font-family:roboto-regular;
}
.tag-group{
    float:right;
}
.tag-group a{
    text-decoration:none;
    color:#8e8e8e;
    font-size:13px;
    font-family:roboto-regular;
    padding:0px 4px;
}
.blog-single {
    padding: 0px 12px;
}