
<div id="window-datchotruoc">
    @(Html.Kendo().Window().Name("WindowAddNew")
        .Title("Blog")
        .Draggable()
        .Width(900)
        .Height(870)        
        .Modal(true)
        .Visible(false).Actions(actions => actions.Minimize().Maximize().Close())
        .Content(
    @<text>
    <div class="container-fluid">
        <div class="well">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="label-info"><span id="ErrorMessage"></span></div> 
                    <form class="form-group">
                        <label>Danh mục: @Html.Hidden("Id")</label>
                        <br />
                        @(Html.Kendo().ComboBox()
                          .Name("cbDanhMuc")
                          .Filter("contains")
                          .Placeholder("Chọn danh mục...")
                          .DataTextField("Ten")
                          .DataValueField("Id")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetDanhMucSanPham", "Common");
                              }).ServerFiltering(true);
                          })
                          .SelectedIndex(-1)
                          .Suggest(true)
                          .HtmlAttributes(new { style = "width:300px;" })
                        )
                        <br />
                        <label>Tiêu đề:</label>
                        <textarea rows="1" id="txtTieuDe" class="k-editor"></textarea>
                        <label>Nội dung:</label>
                        <textarea rows="4" id="txtContent" class="k-editor"></textarea>
                        <label>Tiêu đề SEO:</label>
                        <p id="text-messemgerfoTieuDeSeo">Kí tự tiêu đề: <span></span> /65 kí tự</p>
                        <textarea rows="1" id="txtTieuDeSeo" class="k-editor" onkeyup="countChar(this,1)"></textarea>
                        <label>Mô tả SEO:</label>
                        <p id="text-messemgerfoMotaSeo">Kí tự mô tả: <span></span> /170 kí tự</p>
                        <textarea rows="3" id="txtMoTaSeo" class="k-editor" onkeyup="countChar(this,2)"></textarea>
                        <label>Từ khóa SEO:</label>
                        <p id="text-messemgerfoTukhoaSeo">Kí tự từ khóa: <span></span> /170 kí tự</p>
                        <textarea rows="3" id="txtTuKhoaSeo" class="k-editor" onkeyup="countChar(this,3)"></textarea>
                        <label>Ngày đăng:</label>
                        <br />
                        @(Html.Kendo().DateTimePicker()
                        .Name("dateNgaydang")                    
                        .Value(DateTime.Now)
                        .HtmlAttributes(new { style = "width:250px;", title = "Ngày Đăng bài" })
                        )
                        <br />
                        <label>Sắp Xếp:</label>
                        <input type="number" id="txtSapxep" placeholder="Vị trí..."/>
                        <br />
                        <label><span class="text-active">Kích hoạt: </span><input type="checkbox" id="txtActive" /></label>
                        <br />
                        <label>Ảnh đại diện:</label>
                        <div class="demo-section k-content">
                            <div style="position: relative;margin-top:5px;margin-bottom:10px; width:100px;">
                                <img id="anhAvatar" src="~/Areas/AdminLinja/Content/images/NoImage.jpg" class="img-thumbnail img-responsive">
                                <div style="position: absolute; bottom: 0; right: 0; margin: 0 5px 2px 0">
                                    <button id="xoaAnh" type="button" class="glyphicon glyphicon-remove"></button>
                                    <button id="themAnh" type="button" class="glyphicon glyphicon-file"></button>
                                    <input id="tepAnh" type="file" style="display:none;" />
                                </div>
                            </div>
                        </div><!--end img-->
                        <br />
                        <button type="button" id="BtnInsert" onclick="insertBlog()" class="k-button"><span class="k-icon k-i-plus"></span> Thêm mới</button>
                        <button type="button" id="BtnUpdate" onclick="updateBlog()" class="k-button" style="width:90px;"><span class="k-icon k-edit"></span> Sửa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    </text>)
    )
</div>