@using LinJas.Common
@{
    ViewBag.Title = "Kết quả  lọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Html.InlineStyles("~/css/search.desktop.css")
}
@section js{
    @Html.InlineScripts("~/bundles/js/jquery.common.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/js/search.desktop.js")
}
@section Metas{
    <title>Code Amp</title>
}
 <!-- KẾt quả tìm  kiếm -->
<div class="container rm-fast-filter rm-search">
    <div class="row">
        <div class="col-md-7">
            <h3 class="text-h3">"xingfa" <span>Tìm thấy : </span> <a>48 sản phẩm</a></h3>
        </div>
        <div class="col-md-5">
            <ul class="list-funtion">
                <li>
                    <label><input type="checkbox" name="new" class="rm-check" /> Mới nhất</label>
                </li>
                <li>
                    <label><input type="checkbox" name="sale" class="rm-check" /> Khuyến mại</label>
                </li>
                <li>
                    <div id="rmprice">Giá <span class="rm-icondesktop-down"></span></div>
                    <div class="rmlist-price">
                        <form>
                            <div>Tất cả mức giá</div>
                            <label><input class="price" type="radio" name="price" checked /> < = 200.000VNĐ</label>
                            <label><input class="price" type="radio" name="price" /> 200.000VNĐ - 500.000VNĐ</label>
                            <label><input class="price" type="radio" name="price" /> > 500.000VNĐ</label>
                            <p><a href="#" class="rm-btn-price"> Xem thêm 12 kết quả</a></p>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-item">
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                               <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>
                               <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="text-view-more"><a href="#">Xem thêm (52 sản phẩm) <span class="fa fa-angle-double-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
