@using LinJas.Common
@{
    ViewBag.Title = "About";
}
@section css{
    @Html.InlineStyles("~/css/about.desktop.css")
}
@section js{
    @Html.InlineScripts("~/bundles/js/jquery.common.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/js/about.desktop.js")
}
@section Metas{
    <title>Code Amp</title>
}