@using LinJas.Common

@section css{
    @Html.InlineStyles("~/css/home.index.desktop.css")
}
@section js{
    @Html.InlineScripts("~/bundles/js/jquery.common.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/js/home.index.desktop.js")
}
@section Metas{
    <title>Code Amp</title>
}
@* slide *@

<div class="container">
    <div class="row">
        <div class="col-md-9 rm-left">
            <div id="carousel-xf" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-xf" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-xf" data-slide-to="1"></li>
                    <li data-target="#carousel-xf" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Images/banner/slide-rm-1.png" class="img-responsive" alt="slide-1" />
                    </div>
                    <div class="item">
                        <img src="~/Images/banner/slide-rm-1.png" class="img-responsive" alt="slide-1" />
                    </div>
                    <div class="item">
                        <img src="~/Images/banner/slide-rm-1.png" class="img-responsive" alt="slide-1" />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-xf" role="button" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-xf" role="button" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-3 tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#xingfa" aria-controls="home" role="tab" data-toggle="tab">Blog xingfa</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="xingfa">
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/avatar-21.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#"> OPPO gửi thư mời sự kiện ra mắt F3 tại Việt Nam sản phẩm</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/avatar-21.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#"> OPPO gửi thư mời sự kiện ra mắt F3 tại Việt Nam</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/avatar-21.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#"> OPPO gửi thư mời sự kiện ra mắt F3 tại Việt Nam</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/avatar-21.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#"> OPPO gửi thư mời sự kiện ra mắt F3 tại Việt Nam</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->
<div class="container bg-while">
    <!-- Sản phẩm bán chạy data-interval="2000" data-pause="hover"-->
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Sản phẩm bán chạy <span class="fa fa-angle-right"></span> <span>Khám phá về  các trải  nghiệm thông minh. Trải nghiệm cuộc sống phụ kiện không chỉ  điện thoại, hãy để niềm  vui thêm bất  tận</span> </h2>
            </div>
            <div class="col-md-12">
                <div id="product-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-sale">-30%</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                            
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>
                                            <p><span class="text-outofstock">Hết hàng</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">new</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p> <span class="text-goods-are-coming">Hàng đang về</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-sale">-30%</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">new</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 2nd slide =========-->
                        <div class="item active">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">new</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 3rd slide =========-->
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--======= Left Button =========-->
                    <a class="left carousel-control adv_left" href="#product-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <!--======= Right Button =========-->
                    <a class="right carousel-control  adv_right" href="#product-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Khuyến mại hot -->
<div class="container bg-while">
    <!-- Sản phẩm bán chạy -->
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Khuyến mại hot <span class="fa fa-angle-right"></span> <span>Hàng ngàn phụ kiện ô tô, điện thoại, đồ gia dụng đang được cập nhật mới nhất tại đây</span> </h2>
            </div>
            <div class="col-md-12">
                <div id="sale-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC21111</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 2nd slide =========-->
                        <div class="item active">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 3rd slide =========-->
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span> <span class="text-old">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--======= Left Button =========-->
                    <a class="left carousel-control adv_left" href="#sale-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <!--======= Right Button =========-->
                    <a class="right carousel-control  adv_right" href="#sale-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Sản phẩm mới -->
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Sản phẩm mới <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Cáp sặc</a>|<a href="#">Pin dự phòng</a>|<a href="#">Cáp sặc</a>|<a href="#">Kính cường lực</a></span></h2>
            </div>
            <div class="col-md-12">
                <div class="row row-item">
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p><span class="text-outofstock">Hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p> <span class="text-goods-are-coming">Hàng đang về</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p><span class="text-price">180.000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p><span class="text-price">180.000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p><span class="text-outofstock">Hết hàng</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p> <span class="text-goods-are-coming">Hàng đang về</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-sale">-30%</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p><span class="text-price">180.000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <span class="text-new">new</span>
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                <p><span class="text-price">180.000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="text-view-more"><a href="#">Xem thêm <span class="fa fa-angle-double-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phụ kiện điện thoại -->
<div class="container bg-while">
    <!-- Sản phẩm bán chạy  data-ride="carousel" data-interval="2000" data-pause="hover" -->
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Phụ kiện điện thoại  <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Cáp sặc</a>|<a href="#">Pin dự phòng</a>|<a href="#">Cáp sặc</a>|<a href="#">Kính cường lực</a></span> </h2>
            </div>
            <div class="col-md-12">
                <div id="phone-accessories-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 2nd slide =========-->
                        <div class="item active">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 3rd slide =========-->
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Giá đỡ điện thoại trên ô tô Remax EETO RC - FC2</a></h4>

                                            <p><span class="text-price">180.000đ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--======= Left Button =========-->
                    <a class="left carousel-control adv_left" href="#phone-accessories-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <!--======= Right Button =========-->
                    <a class="right carousel-control  adv_right" href="#phone-accessories-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GÓc reMax  -->
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Góc Remax <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Tin tức Remax</a>|<a href="#">Tin công  nghệ</a>|<a href="#">Mẹo công nghệ</a></span></h2>
            </div>
            <div class="col-md-12">
                <div class="row row-item rm-blog">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="img/blog-rm.jpg" class="img-responsive" alt="blog" />
                        </a>
                        <div class="blog-single">
                            <h2>
                                <a href="#">
                                    Khuyến mãi - Tặng hơn 200+ sản phẩm và 1000 voucher mua hàng
                                </a>
                            </h2>
                            <div class="rm-decription">
                                Tưng bừng khai trương tràn ngập qua tặng. Khai trương showroom chính thức của remax tại Việt Nam. 298 Tây Sơn Đống Đa
                            </div>
                            <div class="blogtag">
                                <ul>
                                    <li>
                                        <a href="#">Tin công nghệ</a>
                                    </li>
                                    <li>02</li>
                                </ul>
                            </div>
                            <div class="blogsimilarposts">
                                <ul>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                        <span class="blog-comment"> 03</span>
                                    </li>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                        <span class="blog-comment"> 03</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="img/blog-rm.jpg" class="img-responsive" alt="blog" />
                        </a>
                        <div class="blog-single">
                            <h2>
                                <a href="#">
                                    Khuyến mãi - Tặng hơn 200+ sản phẩm và 1000 voucher mua hàng
                                </a>
                            </h2>
                            <div class="rm-decription">
                                Tưng bừng khai trương tràn ngập qua tặng. Khai trương showroom chính thức của remax tại Việt Nam. 298 Tây Sơn Đống Đa
                            </div>
                            <div class="blogtag">
                                <ul>
                                    <li>
                                        <a href="#">Tin công nghệ</a>
                                    </li>
                                    <li>02</li>
                                </ul>
                            </div>
                            <div class="blogsimilarposts">
                                <ul>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                        <span class="blog-comment"> 03</span>
                                    </li>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                        <span class="blog-comment"> 03</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="img/blog-rm.jpg" class="img-responsive" alt="blog" />
                        </a>
                        <div class="blog-single">
                            <h2>
                                <a href="#">
                                    Khuyến mãi - Tặng hơn 200+ sản phẩm và 1000 voucher mua hàng
                                </a>
                            </h2>
                            <div class="rm-decription">
                                Tưng bừng khai trương tràn ngập qua tặng. Khai trương showroom chính thức của remax tại Việt Nam. 298 Tây Sơn Đống Đa
                            </div>
                            <div class="blogtag">
                                <ul>
                                    <li>
                                        <a href="#">Tin công nghệ</a>
                                    </li>
                                    <li>02</li>
                                </ul>
                            </div>
                            <div class="blogsimilarposts">
                                <ul>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                        <span class="blog-comment"> 03</span>
                                    </li>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                        <span class="blog-comment"> 03</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Remax TV -->
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Remax TV <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Sản  phẩm</a>|<a href="#">Trải nghiệm phụ kiện</a>|<a href="#">Có gì lạ?</a></span></h2>
            </div>
            <div class="col-md-12">
                <div class="row row-item rmtv">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="#">
                                <img src="img/Rounded-Rectangle.jpg" class="img-responsive" alt="avata" />
                            </a>
                            <div class="blog-single">
                                <h2>
                                    <a href="#">
                                        Khuyến mãi - Tặng hơn 200+ sản phẩm và 1000 voucher mua hàng
                                    </a>
                                </h2>
                                <div class="rm-decription">
                                    Tưng bừng khai trương tràn ngập qua tặng. Khai trương showroom chính thức của remax tại Việt Nam. 298 Tây Sơn Đống Đa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="#">
                                <img src="img/Rounded-Rectangle.jpg" class="img-responsive" alt="avata" />
                            </a>
                            <div class="blog-single">
                                <h2>
                                    <a href="#">
                                        Khuyến mãi - Tặng hơn 200+ sản phẩm và 1000 voucher mua hàng
                                    </a>
                                </h2>
                                <div class="rm-decription">
                                    Tưng bừng khai trương tràn ngập qua tặng. Khai trương showroom chính thức của remax tại Việt Nam. 298 Tây Sơn Đống Đa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="#">
                                <img src="img/Rounded-Rectangle.jpg" class="img-responsive" alt="avata" />
                            </a>
                            <div class="blog-single">
                                <h2>
                                    <a href="#">
                                        Khuyến mãi - Tặng hơn 200+ sản phẩm và 1000 voucher mua hàng
                                    </a>
                                </h2>
                                <div class="rm-decription">
                                    Tưng bừng khai trương tràn ngập qua tặng. Khai trương showroom chính thức của remax tại Việt Nam. 298 Tây Sơn Đống Đa
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- chính sách vận chuyển -->
<div class="container bg-chinhsach">

    <div class="wapcontainer">
        <div class="row rmcs">
            <div class="col-md-3">
                <span>
                    <i class="rm-icondesktopfull-chinhhang"></i>
                </span>
                <h3>Chính hãng</h3>
                <div>Bảo hành dài hạn</div>
            </div>
            <div class="col-md-3">
                <span>
                    <i class="rm-icondesktopfull-63th"></i>
                </span>
                <h3>63 tỉnh thành</h3>
                <div>Giao hàng tận nơi</div>
            </div>
            <div class="col-md-3">
                <span>
                    <i class="rm-icondesktopfull-doitra"></i>
                </span>
                <h3>Đổi trả</h3>
                <div>Linh hoạt đổi trả</div>
            </div>
            <div class="col-md-3">
                <span>
                    <i class="rm-icondesktopfull-huongdan"></i>
                </span>
                <h3>Hướng dẫn</h3>
                <div>Mua hàng online</div>
            </div>
        </div>
    </div>
</div>