@using LinJas.Common

@section css{
    @Html.InlineStyles("~/css/home.index.desktop.css")
}
@section js{
    @Html.InlineScripts("~/bundles/js/jquery.common.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/js/home.index.desktop.js")
}
@section Metas{
    <title>Code Amp</title>
}
@* slide *@

<div class="container">
    <div class="row">
        <div class="col-md-9 rm-left">
            <div id="carousel-xf" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-xf" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-xf" data-slide-to="1"></li>
                    <li data-target="#carousel-xf" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Images/banner/slide-1.jpg" class="img-responsive" alt="slide-1" />
                    </div>
                    <div class="item">
                        <img src="~/Images/banner/slide-2.jpg" class="img-responsive" alt="slide-2" />
                    </div>
                    <div class="item">
                        <img src="~/Images/banner/slide-3.jpg" class="img-responsive" alt="slide-3" />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-xf" role="button" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-xf" role="button" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-3 tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#xingfa" aria-controls="home" role="tab" data-toggle="tab">Blog xingfa</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="xingfa">
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/images1.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#">Bản Lề Phụ Kiện ALUTECH Cao Cấp Nhập Khẩu Chính Hãng 100%</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/images2.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#">Dây Chuyền Sản Xuất Cửa Nhôm XINGFA Tự Động Hóa CNC 100%</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/images3.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#">Đánh giá cửa nhôm kính XINGFA chất lượng hàng đầu hiện nay</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <a href="#">
                                <img src="~/Images/banner/images1.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#"> ShowRoom Cửa Nhôm XINGFA Nhập Khẩu Chính Hãng Tại Hà Nội</a>
                            <p>
                                <a href="#">Tin tức</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->
<div class="container bg-while">
    <!-- Sản phẩm bán chạy data-interval="2000" data-pause="hover"-->
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Nhôm Xingfa bán chạy <span class="fa fa-angle-right"></span> <span>Nhôm XINGFA Tem Đỏ Quảng Đông Nhập Khẩu Chính Hãng 100%</span> </h2>
            </div>
            <div class="col-md-12">
                <div id="product-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 2nd slide =========-->
                        <div class="item active">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 3rd slide =========-->
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <span class="text-new">Mới</span>
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông</a></h4>

                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--======= Left Button =========-->
                    <a class="left carousel-control adv_left" href="#product-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <!--======= Right Button =========-->
                    <a class="right carousel-control  adv_right" href="#product-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Khuyến mại hot -->
<div class="container bg-while">
    <!-- Sản phẩm bán chạy -->
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Cửa nhôm xingfa hot <span class="fa fa-angle-right"></span> <span>Nhôm Xingfa là thương hiệu nhôm hàng đầu về kết cấu nhôm lắp ghép trong lĩnh vực xây dựng trên thế giới</span> </h2>
            </div>
            <div class="col-md-12">
                <div id="sale-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 2nd slide =========-->
                        <div class="item active">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 3rd slide =========-->
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--======= Left Button =========-->
                    <a class="left carousel-control adv_left" href="#sale-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <!--======= Right Button =========-->
                    <a class="right carousel-control  adv_right" href="#sale-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cửa xingfa mới -->
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Mẫu cửa xingfa mới <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Cửa sổ mở hất</a>|<a href="#">Cửa sổ mở quay</a>|<a href="#">Cửa sổ mở trượt</a>|<a href="#">Cửa đi mở quay</a>|<a href="#">Cửa đi mở trượt</a>|<a href="#">Cửa đi mở xếp gấp</a>|<a href="#">Cửa nhôm zhongkai</a></span></h2>
            </div>
            <div class="col-md-12">
                <div class="row row-item">
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rmitem-image">
                        <div class="rm-item">
                            <a href="#">
                                <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                            </a>
                            <div class="rmitem-caption">
                                <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phụ kiện điện thoại -->
<div class="container bg-while">
    <!-- Hệ nhôm xingfa quảng đông  data-ride="carousel" data-interval="2000" data-pause="hover" -->
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Nhôm xingfa hệ nhôm cao cấp nhập khẩu từ quảng đông  <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Nhôm xingfa tem đỏ</a>|<a href="#">Nhôm xingfa vân gỗ</a>|<a href="#">Nhôm cầu cách nhiệt</a></span> </h2>
            </div>
            <div class="col-md-12">
                <div id="phone-accessories-carousel" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 2nd slide =========-->
                        <div class="item active">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--========= 3rd slide =========-->
                        <div class="item">
                            <div class="row row-item">
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 rmitem-image">
                                    <div class="rm-item">
                                        <a href="#">
                                            <img src="~/Images/avatar/avatar-1.jpg" alt="slider 01" class="img-responsive">
                                        </a>
                                        <div class="rmitem-caption">
                                            <h4><a href="#">Cửa sổ mở hất nhôm Xingfa tem đỏ nhập khẩu chính hãng Quảng Đông1111</a></h4>
                                            <p><span class="text-price">Liên hệ</span>/1m<sup>2</sup></p>
                                            <div><a href="#" class="rm-btn-buynow">Đặt hàng</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--======= Left Button =========-->
                    <a class="left carousel-control adv_left" href="#phone-accessories-carousel" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <!--======= Right Button =========-->
                    <a class="right carousel-control  adv_right" href="#phone-accessories-carousel" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Góc xingfa -->
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Blog xingfa <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Tất cả</a>|<a href="#">Tin xingfa</a>|<a href="#">Mẹo lắp đặt cửa nhôm xingfa</a></span></h2>
            </div>
            <div class="col-md-12">
                <div class="row row-item rm-blog">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="~/Images/avatar/blog-1.jpg" class="img-responsive" alt="blog" />
                        </a>
                        <div class="blog-single">
                            <h2>
                                <a href="#">
                                    Xingfa Group trực tiếp tư vấn thiết kế, sản xuất và thi công lắp đặt cửa nhôm Xingfa nhập khẩu đồng bộ chính hãng 100% tem đỏ Quảng Đông chất lượng bảo hành 5 năm.
                                </a>
                            </h2>
                            <div class="rm-decription">
                                Sản phẩm cửa nhôm Xingfa đã xuất hiện trên thị trường từ những năm 80, đến nay đã có mặt trên 30 quốc gia trên thế giới như Châu Âu, Mỹ, Nhật Bản, Đông Nam Á..
                            </div>
                            <div class="blogtag">
                                <ul>
                                    <li>
                                        <a href="#">Tin công nghệ</a>
                                    </li>
                                    <li>02</li>
                                </ul>
                            </div>
                            <div class="blogsimilarposts">
                                <ul>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>                                       
                                    </li>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="~/Images/avatar/blog-1.jpg" class="img-responsive" alt="blog" />
                        </a>
                        <div class="blog-single">
                            <h2>
                                <a href="#">
                                    Xingfa Group trực tiếp tư vấn thiết kế, sản xuất và thi công lắp đặt cửa nhôm Xingfa nhập khẩu đồng bộ chính hãng 100% tem đỏ Quảng Đông chất lượng bảo hành 5 năm.
                                </a>
                            </h2>
                            <div class="rm-decription">
                                Sản phẩm cửa nhôm Xingfa đã xuất hiện trên thị trường từ những năm 80, đến nay đã có mặt trên 30 quốc gia trên thế giới như Châu Âu, Mỹ, Nhật Bản, Đông Nam Á..
                            </div>
                            <div class="blogtag">
                                <ul>
                                    <li>
                                        <a href="#">Tin công nghệ</a>
                                    </li>
                                    <li>02</li>
                                </ul>
                            </div>
                            <div class="blogsimilarposts">
                                <ul>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                    </li>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="~/Images/avatar/blog-1.jpg" class="img-responsive" alt="blog" />
                        </a>
                        <div class="blog-single">
                            <h2>
                                <a href="#">
                                    Xingfa Group trực tiếp tư vấn thiết kế, sản xuất và thi công lắp đặt cửa nhôm Xingfa nhập khẩu đồng bộ chính hãng 100% tem đỏ Quảng Đông chất lượng bảo hành 5 năm.
                                </a>
                            </h2>
                            <div class="rm-decription">
                                Sản phẩm cửa nhôm Xingfa đã xuất hiện trên thị trường từ những năm 80, đến nay đã có mặt trên 30 quốc gia trên thế giới như Châu Âu, Mỹ, Nhật Bản, Đông Nam Á..
                            </div>
                            <div class="blogtag">
                                <ul>
                                    <li>
                                        <a href="#">Tin công nghệ</a>
                                    </li>
                                    <li>02</li>
                                </ul>
                            </div>
                            <div class="blogsimilarposts">
                                <ul>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                    </li>
                                    <li>
                                        <a href="#">Google Pixel 2 rò rỉ những bức ảnh đầu tiên với camera kép</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Remax TV -->
<div class="container bg-while">
    <div class="wapcontainer">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-label">Xingfa TV <span class="fa fa-angle-right"></span> <span class="tag-group"><a href="#">Sản  phẩm</a>|<a href="#">Trải nghiệm</a>|<a href="#">Có gì khác?</a></span></h2>
            </div>
            <div class="col-md-12">
                <div class="row row-item rmtv">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="#">
                                <img src="~/Images/avatar/video-1.jpg" class="img-responsive" alt="avata" />
                            </a>
                            <div class="blog-single">
                                <h2>
                                    <a href="#">
                                        Xingfa Group trực tiếp tư vấn thiết kế, sản xuất và thi công lắp đặt cửa nhôm Xingfa nhập khẩu đồng bộ chính hãng 100% tem đỏ Quảng Đông chất lượng bảo hành 5 năm.
                                    </a>
                                </h2>
                                <div class="rm-decription">
                                    Sản phẩm cửa nhôm Xingfa đã xuất hiện trên thị trường từ những năm 80, đến nay đã có mặt trên 30 quốc gia trên thế giới như Châu Âu, Mỹ, Nhật Bản, Đông Nam Á..
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="#">
                                <img src="~/Images/avatar/video-1.jpg" class="img-responsive" alt="avata" />
                            </a>
                            <div class="blog-single">
                                <h2>
                                    <a href="#">
                                        Xingfa Group trực tiếp tư vấn thiết kế, sản xuất và thi công lắp đặt cửa nhôm Xingfa nhập khẩu đồng bộ chính hãng 100% tem đỏ Quảng Đông chất lượng bảo hành 5 năm.
                                    </a>
                                </h2>
                                <div class="rm-decription">
                                    Sản phẩm cửa nhôm Xingfa đã xuất hiện trên thị trường từ những năm 80, đến nay đã có mặt trên 30 quốc gia trên thế giới như Châu Âu, Mỹ, Nhật Bản, Đông Nam Á..
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="#">
                                <img src="~/Images/avatar/video-1.jpg" class="img-responsive" alt="avata" />
                            </a>
                            <div class="blog-single">
                                <h2>
                                    <a href="#">
                                        Xingfa Group trực tiếp tư vấn thiết kế, sản xuất và thi công lắp đặt cửa nhôm Xingfa nhập khẩu đồng bộ chính hãng 100% tem đỏ Quảng Đông chất lượng bảo hành 5 năm.
                                    </a>
                                </h2>
                                <div class="rm-decription">
                                    Sản phẩm cửa nhôm Xingfa đã xuất hiện trên thị trường từ những năm 80, đến nay đã có mặt trên 30 quốc gia trên thế giới như Châu Âu, Mỹ, Nhật Bản, Đông Nam Á..
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

