.container-fluid {
    overflow:hidden;
    padding:0px 1px;
}
h2.text-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1460b1;
    padding-left: 15px;
}

#template img {
    margin: 5px 20px 0 0;
    float: left;
}

#template {
    width: 380px;
}

#template ol {
    float: left;
    margin: 0 0 0 30px;
    padding: 10px 10px 0 10px;
}

#template:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#template .k-button {
    float: left;
    clear: left;
    margin: 5px 0 5px 12px;
}
input.k-textbox{
    width:100%;
}
#BtnAddNew{
    float:right;
}
#grdRole tbody tr td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:30px;
}
#windowConfirm{
    text-align:center;
}
#windowConfirm.checkconfirm{
    margin:15px 0px;
}
/*alert*/
#windowPopup {
    text-align: center;
}
#tlAllPopup {
    width: 100%;
    font-size: 16px;
}

#puBottom {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

/*.k-window-action {

}*/

#BTN1 {
    width: 50px;
}

#BTN2 {
    width: 50px;
}

.clSpan {
    float: left;
    width: 100%;
}

#ErrorMessage {
    float: left;
    padding: 10px;
    color: red;
    font-size: 13px;
}