/*body {
    padding: 15px 5px;
}*/
.TitelInfo {
    padding: 1px 3px 2px;
    font-size: 18px;
    font-weight: bold;
    color: #26759e;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px;
}

#panelInfo {
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    box-shadow: 1px 1px 5px #666666;
    margin-top: 5px;
    width: 100%;
}

.labelTitle {
    padding: 1px 3px 2px;
    font-size: 16px;
    font-weight: bold;
    color: #26759e;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lblTitle1 {
    margin-left: 50px;
    height: 36px;
    margin-bottom: 0px;
}

.lblTitle2 {
    width: 110px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 100px;
}

.buttonTimKiem {
    border-radius: 5px;
    background-color: white;
    width: 90px;
    height: 30px;
}

.buttonChiDinh {
    height: 22px;
    border-radius: 5px;
    background-color: white;
}

.legenCustom {
    font-size: 14px;
    border-bottom: none;
    margin-left: 5px;
    width: 140px;
    margin-bottom: 5px;
}

.thongTinChiTiet {
    color: cornflowerblue;
}

.fieldSetCustom{
    border:1px solid #c0c0c0;
    margin:5px;
}
#main-menu {
    white-space:nowrap;
}